/** Datepicker ***/
.ui-widget-content .ui-state-active {
	background-color: #f1511b;
	background-image: none;
	color: #fff;
}

/** Prescription Entry *************************/
.drugOrderEntry th.field-drug { width: 30%; }
.drugOrderEntry td.field-drug input[type="text"] { width: 100%; }
.drugOrderEntry th.field-frequency,
.drugOrderEntry th.field-quantity { width: 10%; }
.drugOrderEntry th.field-duration { width: 15%; }
.drugOrderEntry td.field-frequency input,
.drugOrderEntry td.field-duration input,
.drugOrderEntry td.field-quantity input { width: 100%; }
.drugOrderEntry td.field-daw { width: 40px; }
/*th.field-instructions { width: 30%; }*/
td.field-instructions .editor {
	top: 0; left: 0;
	position: relative;
	display: block;
	width: 100%;
	height: 1.6em;
	overflow: hidden;
}
td.field-instructions textarea {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid cadetblue;
}

.editor .duration { position: relative; }
.editor .duration button.edit-start-date,
.editor .duration button.edit-end-date {
	position: absolute;
	top: 0;
	width: 16px;
	height: 16px;
	border: none;
	background: transparent center center no-repeat;
	cursor: pointer;
}
.editor .duration button.edit-start-date {
	right: 19px;
	background-image: url("../images/start.gif");
}
.editor .duration button.edit-end-date {
	right: 2px;
	background-image: url("../images/end.gif");
}
